import React, { useEffect } from "react";
import {Outlet} from "react-router-dom";


export interface ${CompName}Props {
  [key: string]: any;
}

export interface ${CompName}Methods {
  [key: string]: any;
}

const ${CompName}Wrapper: React.FC<${CompName}Props> = (props: ${CompName}Props & ${CompName}Methods) => {

  const {} = props

  useEffect(() => {}, []);

  return (
    <React.Fragment>

      <Outlet/>

    </React.Fragment>
  );
};

export default React.memo(${CompName}Wrapper);
